langchain
ipykernel
python-dotenv
langchain_community
PyPDF
bs4
wikipedia
langchain-text-splitters
duckdb
pandas
langchain-groq
duckduckgo-search
pymupdf
arxiv
Wikipedia
langchain_community.utilities
langchain_community.tools
langchain.agents 
langchain.callbacks
